<div class="container">
    <div class="row">
        <h1>Completed Todos</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Description</th>
          <th scope="col">IsComplete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos">
          <td>{{todo.id}}</td>
          <td [class.stroke]="todo.isComplete">
            {{todo.name}}
          </td>
          <td [class.stroke]="todo.isComplete">{{todo.name}}</td>
          <td><input type="checkbox" 
            [attr.disabled]="true" 
            [checked]="todo.isComplete"></td>
          <td><button class="btn btn-sm btn-success" (click)="undoCompleted(todo.id, todo)">Undo Completed</button></td>
        </tr>
      </tbody>
    </table>
  </div> 
</div>
