<div class="container">
  <div class="row">
    <h1>Create new todo</h1>
    <form #form="ngForm" (ngSubmit)="addTodo()">
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          name="description"
          [(ngModel)]="newTodo.name"
        />
      </div>
      <button type="submit" class="btn btn-primary">Add new +</button>
    </form>
  </div>
  <div class="row">
    <h1>Todos</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Description</th>
          <th scope="col">IsComplete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos">
          <td>{{ todo.id }}</td>
          <td>{{ todo.name }}</td>
          <td>
            <input
              type="checkbox"
              [checked]="todo.isComplete"
              (change)="onCompleteChange(todo.id, todo)"
            />
          </td>
          <td>
            <button
              class="btn btn-danger btn-primary"
              (click)="deleteTodo(todo.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <h1>Edittable todo</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Description</th>
          <th scope="col">IsComplete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos">
          <td>{{ todo.id }}</td>
          <td [class.stroke]="todo.isComplete">
            <div
              *ngIf="
                todo.id | isEditModeActivePipe : todosInEditMode as isEditActive
              "
            >
              <input type="text" [(ngModel)]="todo.name" class="form-control" />
            </div>
            <div
              *ngIf="
                !(
                  todo.id | isEditModeActivePipe : todosInEditMode
                ) as isEditActive
              "
            >
              {{ todo.name }}
            </div>
          </td>
          <td>
            <input
              type="checkbox"
              [checked]="todo.isComplete"
              (change)="onCompleteChange(todo.id, todo)"
            />
          </td>
          <td>
            <button
              class="btn btn-danger btn-primary"
              (click)="deleteTodo(todo.id)"
            >
              Delete
            </button>
            <div
              *ngIf="
                todo.id | isEditModeActivePipe : todosInEditMode as isEditActive
              "
            >
              <button
                class="btn btn-sm btn-success"
                (click)="onChange(todo.id, todo)"
              >
                Update
              </button>
              <button class="btn btn-sm btn-success" (click)="cancelt(todo)">
                Cancel
              </button>
            </div>
            <div
              *ngIf="
                !(
                  todo.id | isEditModeActivePipe : todosInEditMode
                ) as isEditActive
              "
            >
              <button class="btn btn-sm btn-success" (click)="onEdit(todo)">
                Edit
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
