<p>todos works!</p>
<div class="container">
    <div class="row">
        <h1>Create new todo</h1>
        <form>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>               
        </form>        
    </div>
    <div class="row">
        <h1>Todos</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Description</th>
                <th scope="col">Created</th>
                <th scope="col">Completed</th>                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>do</td>
              </tr>              
            </tbody>
          </table>            
    </div>
</div>
